body{
    font: 16px sans-serif;
}
.keyouter{
    display:inline-block;
    padding-bottom:1.5em;
    overflow-x: hidden;
    width:40em;
    padding-left:0.5em;
    padding-right:0.5em;
}
#selectorholder{
    display:inline-block;
    max-width:40em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:1.5em;
    overflow-x: hidden;
}
.selector, .key-item{
    display:inline-block;
    width:18em;
    min-height:1.5em;
    padding-top:0.6em;
    padding-left:1em;
    margin-right:1em;
    overflow-x:hidden;
    border-bottom: white solid 3px;
    position:relative;
    background-color:#e9e2ef;
}
.key-item.key-icon{
    max-height:0;
    transition: max-height 1s;
    visibility:hidden;
    width:0;
    padding-left:0;
    margin-right:0;

}
.key-item.key-icon.selected{
    max-height:3em;
    visibility:visible;
    width:18em;
    padding-left:1em;
    margin-right:1em;
}
.selector{
    cursor:pointer;
}
.selector.selected{
    background-color:#7d71b4;
    color: white;
    font-weight:bold;
}
.selectorder{
    width:1.5em;
    left:1em;
    text-align:center;
    font-weight:bold;
    font-size:1em;
    bottom:0.75em;
    cursor:pointer;
    position:absolute;
}
.select{
    display:inline-block;
    width:15em;
    left:3em;
    position:absolute;
    bottom:0.5em;
}
.top10list{
    display:inline-block;
    visibility:hidden;
    /* overflow-x: hidden; */
    overflow-y:hidden;
    max-height:0;
    width:0;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
}
.top10list.selected{
    max-height:100em;
    display:inline-block;
    visibility:visible;
    width:32em;
    padding-left:0.5em;
    padding-right:18em;
    padding-bottom:1.5em;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
}
.evname, .evgraph, .evval, .listname, .listunit, .listorder{
    display:inline-block;
    position:relative;
}
.list-item.large .evname{
    top:45%;
}
.list-title, .key-title{
    display:block;
    min-height:2.5em;
    background-color: #662d8f;
    padding-top:0.5em;
    padding-left:2%;
    font-weight:bold;
    color:white;
    position:relative;
}
.listorder{
    width:1.5em;
    text-align:center;
    font-weight:bold;
    font-size:1.5em;
    cursor:pointer;
    position:absolute;
}
.listorder.key{
    cursor:default;
}
.listname{
    width:20em;
    text-align:left;
    position:absolute;
    left:3em;
    bottom:0.75em;
}
.listname.sel{
    left:1em;
}
.listunit{
    width:7em;
    text-align:right;
    position:absolute;
    right:3em;
    bottom:0.75em;
    display:none;
}
.list-item{
    display:block;
    min-height:1.5em;
    padding-top:0.6em;
    padding-left:0.5em;
    /* overflow-x:hidden; */
    border-bottom: #e9e2ef solid 3px;
    position:relative;
}
/* .list-item.GW.odd{
    background-color:#fdcc9c;
} */
.GW{
    background-color:#ffe6d4;
}
/* .list-item.Cand.odd{
    background-color:#8fd7ed;
} */
.Cand{
    background-color:#e1f4fe;
}
.evname{
    width:6.5em;
    text-align:left;
    position:absolute;
}
.evname.key, .evname.key-icon{
    width:15em;
}
.evname.key-icon{
    padding-left:0.5em;
}
.evname.build{
    width:25em;
}
.evgraph{
    width:22em;
    text-align:left;
    padding-left:0.5em;
    position:relative;
    left:6.5em
}
.evval{
    width:5.5em;
    text-align:right;
    position:absolute;
    right:3em;
}
.everr{
    text-align:left;
    position:absolute;
    left:31em;
    font-size:0.75em;
    top:0.6em;
}
.everr.pos{
    top:0.3em;
}
.everr.neg{
    top:1.5em;
}
.evval, .everr{
    display:none;
}
.icon{
    display:inline-block;
    margin:0.1em;
}
.icon img{
    display:block;
}
.icon.part{
    overflow:hidden;
}
.bar-bg{
    height:1em;
    background-color: #e9e2ef;
    width:100%;
    position:absolute;
    overflow: hidden;
}
.bar-bg.img{
    background-color: transparent;
}
.bar{
    height:1em;
    background-color: #7c52a1;
    position:absolute;
}
.errmin{
    height:0.5em;
    top:0.25em;
    background-color: #e9e2ef;
    position:absolute;
}
.errmax{
    height:0.5em;
    top:0.25em;
    background-color: #7c52a1;
    position:absolute;
}
.errbar.pos{
    height:0.2em;
    top:0.4em;
    background-color: #7c52a1;
    position:absolute;
}
.errbar.neg{
    height:0.2em;
    top:0.4em;
    background-color: #e9e2ef;
    position:absolute;
}

.errmin2{
    height:0.5em;
    top:0.25em;
    width:0.1em;
    background-color: #e9e2ef;
    position:absolute;
}
.errmax2{
    height:0.5em;
    width:0.1em;
    top:0.25em;
    background-color: #7c52a1;
    position:absolute;
}
.barimg{
    height:1em;
    display:inline-block;
    overflow:hidden;
}
.barimg img{
    display:block;
    height:1em;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  color:black;
  padding:0.5em;
  opacity:0;
}
.tooltip span{
    display:block;
}
.tttxt, .infotxt{
    position:relative;
}
.ttval, .ttunit, .infoval, .infounit{
    text-align:left;
    position:absolute;
    top:0.6em;
    white-space: nowrap;
    padding-left:0.25em;
}
/* .ttunit, .infounit{
    padding-left: 0.2em;
} */
.tterr, .infoerr{
    text-align:left;
    position:absolute;
    font-size:0.75em;
    padding-left:0.2em;
}
.tterr.pos, .infoerr.pos{
    top:0.3em;
}
.tterr.neg, .infoerr.neg{
    top:1.5em;
}
.infotxt{
    position:absolute;
    left:100%;
    top:50%;
    margin-left:0.5em;
    visibility:hidden;
    opacity:0;
    transition: opacity 1s;
    padding:0.5em;
    border:#7d71b4 solid 1px;
    border-radius: 0.5em;
    background-color:#e9e2ef;
}
.list-item:hover .infotxt{
    visibility: visible;
    opacity:1;
}
.info .infotxt::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.5em;
  border-width: 0.5em;
  border-style: solid;
  border-color: transparent 7d71b4 transparent transparent;
}